body {
	background-color: rgb(35, 37, 40);
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.movies-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-items: center; */
	/* border: 1px solid red; */
}


p,
h2 {
	color: rgb(168, 171, 174);
}

h2 {
	font-size: 17px;
	padding-top: 20px;
}

.movie {
	background-color: rgb(53, 54, 58);
	width: 300px;
	height: 450px;
	/* border: 5px solid grey; */
	border-radius: 10px;
	margin-bottom: 80px;
}

button {
	background-color: peru;
	color: black;
	border-color: peru;
	border-radius: 10px;
}